aniso8601==1.2.0
APScheduler==3.9.1
Flask==2.2.2
Flask-BasicAuth==0.2.0
Flask-RESTful==0.3.9
flask-restful-swagger==0.19
Flask-SQLAlchemy==3.0.2
Jinja2==3.1.2
MarkupSafe==2.1.1
PyMySQL==0.7.11
python-dateutil==2.6.0
pytz==2022.5
requests==2.28.1
six==1.10.0
tzlocal==4.2
Werkzeug==2.2.2
GitPython==3.1.29
SQLAlchemy==1.4.42
