<html>
<meta charset="utf-8">
<script src="/static/js/highlight.min.js" charset="utf-8"></script>
<script charset="utf-8">
    hljs.highlightAll();
</script>
<link rel="stylesheet" href="/static/css/hybrid.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<body style="background-color:#F3F2EE;">
    <div style="display: flex; height:100vh; width:100vw;">
        <pre style="display:flex ; min-width:0 ;">
            <code class="hljs language-bash">
            {% for line in log_lines %}
            {{ line }}
            {% endfor %}
            </code>
        </pre>
    </div>
</body>
</html>
