{% extends "base.html" %}
{% block content_header %}
    <h1>Periodic jobs</h1>
    <ol style="float: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;">
        <button type="button" class="btn btn-success btn-flat" style="margin-top: -10px;" data-toggle="modal" data-target="#job-run-modal">
            Add Job
        </button>
    </ol>
{% endblock %}
{% block content_body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Periodic jobs (Spiders)</h3>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-striped">
                <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 30px">Month</th>
                    <th style="width: 30px">Day of Month</th>
                    <th style="width: 30px">Day of Week</th>
                    <th style="width: 30px">Hour</th>
                    <th style="width: 30px">Minutes</th>
                    <th style="width: 40px">Spider</th>
                    <th style="width: 40px">Priority</th>
                    <th style="width: 100px">Args</th>
                    <th style="width: 40px">Tags</th>
                    <th style="width: 40px">Enabled</th>
                    <th style="width: 110px">Action</th>
                </tr>
                {% for job_instance in job_instance_list %}
                    <tr>
                        <td><a name="{{ job_instance.job_instance_id }}">{{ job_instance.job_instance_id }}</a></td>
                        <td>{{ job_instance.cron_month }}</td>
                        <td>{{ job_instance.cron_day_of_month }}</td>
                        <td>{{ job_instance.cron_day_of_week }}</td>
                        <td>{{ job_instance.cron_hour }}</td>
                        <td>{{ job_instance.cron_minutes }}</td>
                        <td>{{ job_instance.spider_name }}</td>
                        {% if job_instance.priority == -1 %}
                            <td>
                                <span class="label label-default">LOW</span>
                            </td>
                        {% elif job_instance.priority == 0 %}
                            <td>
                                <span class="label label-info">NORMAL</span>
                            </td>
                        {% elif job_instance.priority == 1 %}
                            <td>
                                <span class="label label-warning">HIGH</span>
                            </td>
                        {% elif job_instance.priority == 2 %}
                            <td>
                                <span class="label label-danger">HIGHEST</span>
                            </td>
                        {% endif %}
                        <td class="txt-args" title="{{ job_instance.spider_arguments }}">{{ job_instance.spider_arguments }}</td>
                        <td>{{ job_instance.tags }}</td>
                        {% if job_instance.enabled %}
                            <td>
                                <a href="/project/{{ project.id }}/job/{{ job_instance.job_instance_id }}/switch">
                                    <span class="label label-success">Enabled</span></a>
                            </td>
                        {% else %}
                            <td>
                                <a href="/project/{{ project.id }}/job/{{ job_instance.job_instance_id }}/switch">
                                    <span class="label label-danger">Disabled</span></a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="/project/{{ project.id }}/job/{{ job_instance.job_instance_id }}/run">
                                <span class="label label-info">Run</span>
                            </a>
                            <a href="/project/{{ project.id }}/job/{{ job_instance.job_instance_id }}/remove">
                                <span class="label label-danger">Remove</span>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#job-edit-modal-{{ job_instance.job_instance_id }}">
                                <span class="label label-success">Edit</span>
                            </a>
                        </td>
                    </tr>
                    {% set run_type="periodic" %}
                    {% include "modal_job_edit.html" %}
                {% endfor %}
            </table>
        </div>
    </div>

    {% set run_type="periodic" %}
    {% include "modal_job_add.html" %}


{% endblock %}