{% extends "base.html" %}
{% block content_header %}
<h1>Job Items</h1>
<ol style="float: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;">
    <button type="button" class="btn btn-success btn-flat" style="margin-top: -10px;" data-toggle="modal"
            onclick="location.href='/project/{{ project.id }}/job/dashboard'">< Back
    </button>
    <button type="button" class="btn btn-success btn-flat" style="margin-top: -10px;" data-toggle="modal"
            onclick="location.href='./items/download?format=json'">JSON
    </button>
    <button type="button" class="btn btn-success btn-flat" style="margin-top: -10px;" data-toggle="modal"
            onclick="location.href='./items/download?format=csv'">CSV
    </button>
</ol>
{% endblock %}
{% block content_body %}
<!--======items======-->
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Job Items</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped" id="table-count">
            {% if items|length > 0 %}
            <tr>
                <th style="width: 10px">#</th>
                {% for key, value in items[0].items() %}
                <th style="width: 10px">{{ key }}</th>
                {% endfor %}
            </tr>
            {% endif %}

            {% for item in items %}
            <tr id="item">
                <td></td>
                {% for key, value in item.items() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}