<div ng-controller="DashspiderCtrl">
  <div class="page-header">
    <h1 id="tables">Spiders Able</h1>
  </div>

  <div class="bs-component" style="overflow: scroll">
    <table class="table table-striped table-hover " style="max-width:100%">
      <thead>
      <tr>
        <th>#</th>
        <th>Spider Name</th>
        <th>Args</th>
        <th>State</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="spider in spiders">
        <td>{{$index}}</td>
        <td>{{spider.name}}</td>
        <td><input type="text" placeholder="foo1=bar1,foo2=bar2..." style="width: 300px" ng-model="spider.params"/></td>
        <td>
          <!--<a  href="javascript:void(0)" class="btn btn-primary btn-raised" ng-click="btnRunClick(spider)"><i class="material-icons">play_arrow</i> Run </a>-->
          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-primary btn-raised" ng-click="btnRunClick(spider)"><i class="material-icons">play_arrow</i> Run </a>
            <a href="javascript:void(0)" data-target="#" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" ng-click="btnScheduleClick(spider)">Add to schedule</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>

  <!--add to schedule model-->
  <div class="modal" id="modelSchedule">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#modelSchedule').hide()">×</button>
          <h4 class="modal-title">Add to schedule</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover">
            <tr>
              <td>Project Name</td>
              <td><input type="text" name="project" ng-model="currProject"/></td>
            </tr>
            <tr>
              <td>Spider</td>
              <td><input type="text" name="spider" ng-model="scheduleSpider.name"/></td>
            </tr>
            <tr>
              <td>Params</td>
              <td><input type="text" name="params" ng-model="scheduleSpider.params"/></td>
            </tr>
            <tr>
              <td>Start Time</td>
              <td><input type="text" name="startTime" ng-model="scheduleSpider.startTime"/></td>
            </tr>
            <tr>
              <td>Interval</td>
              <td><input type="text" name="interval" ng-model="scheduleSpider.interval"/></td>
            </tr>
            <tr>
              <td>Run Times</td>
              <td><input type="text" name="times" ng-model="scheduleSpider.times"/></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#modelSchedule').hide()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="btnScheduleSubmit()">Confirm</button>
        </div>
      </div>
    </div>

</div>
