<div ng-controller="DashschdulerCtrl">
  <div class="page-header">
    <h1 id="tables">Scheduler</h1>

  </div>

  <div class="bs-component" style="overflow: scroll">
    <table class="table table-striped table-hover " style="max-width:100%">
      <thead>
      <tr>
        <th>#</th>
        <th>id</th>
        <th>Project</th>
        <th>Spider</th>
        <th>Params</th>
        <th>start_time</th>
        <th>Interval(hour)</th>
        <th>times</th>
        <th>Update</th>
        <th>Operation</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="scheduler in schedulers">
        <td>{{$index}}</td>
        <td>{{scheduler.id}}</td>
        <td>{{scheduler.project}}</td>
        <td>{{scheduler.spider}}</td>
        <td>{{scheduler.params}}</td>
        <td>{{scheduler.start_time | dateformat}}</td>
        <td>{{scheduler.interval}}</td>
        <td>{{scheduler.times}}</td>
        <td>{{scheduler.date_update | dateformat}}</td>
        <td><a href="javascript:void(0)" class="btn btn-raised btn-warning" ng-click="btnRemoveScheduleClick(scheduler)"><i class="material-icons">remove</i> Remove </a></td>
      </tr>
      </tbody>
    </table>
</div>
